*{  
    padding: 0;  
    margin: 0;  
    box-sizing: border-box;  
}  
body{  
    background: rgb(247, 246, 247);  
    display: flex;  
    justify-content: center;  
}  
.container1{  
   
    width: 200%;  
    max-width: 1200px;  
    margin: 5rem auto;  
}  
.container1 table{  
    width: 100%;  
    margin: auto;  
    border-collapse: collapse;  
    font-size: 1.5rem;  
}  
.container1 table th{  
    background: rgb(193, 114, 199);  
    color: #fff;  
}  
select{  
    width: 100%;  
    padding: 0.5rem 0;  
    font-size: 1rem;  
}