


/* MAIN CONTENT*/


.grid-container {
    display:grid; 
    margin: auto;
    padding-top: 0.3em;
    width: 90%;
    margin-right: 10px;
}

.grid-child {
    flex: 2;
    border: 3px solid #8d1ecd;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.564);
    height: 160px;
    color: black;
    text-align: center;
    
    
}  
.grid-child:first-child {
    margin-right: 21px;
    margin-bottom: 20px;
    border-radius: 0.9em;
} 
.grid-child:last-child {
    margin-right: 21px;
    border-radius: 0.9em;
} 


.flex-container {
    display:inline-flex; 
    margin: auto;
    padding-top: 1.3em;
    width: 150%;
    
}

.flex-upcoming, .flex-total, .flex-profit {
    flex: 3;
    border: 3px solid #8d1ecd;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.564);
    height: 300px;
    color: black;
    text-align: center;
    border-radius: 0.9em;
    margin-right: 30px;
}  

/*-------------------------------------------------------------*/

/*--------------------   SEE MORE BUTTONS  --------------------*/

.up-seebutton, .tnop-seebutton, .tap-seebutton{
    border: solid 1px #69149b;
    border-radius: 10px;
    padding: 5px;
    background: #69149b;
    color: white;
    width: 100px;
    cursor: pointer;
    font-size: 15px;

}

.up-seebutton{
    margin-top: 160px;
/*   margin-left: 220px; */
}


.tnop-seebutton{
    margin-top: 30px;


}


.tap-seebutton{
    margin-top: 30px;
 /*   margin-left: 220px; */
}



/*-----------------------   LINE CHART   ----------------------*/


.charts {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 0px;
    width: 100%;
    margin-top: 10px;

}

.chart {
    background: white;
    border-radius: 10px;
    width: 100%; 
    
}
/*--------------------------------------------------*/





