@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.body_content {
    padding-left: 1%;
}


/*-----------------------   HEADING   ----------------------*/

.body_content img {
    height: auto;
    width: 130px;
}

.contain {
    display: inline-block;
    grid-gap: 0px;
    width: 100%;
    margin-top: 10px;
}

.patient {
    display: flex;
}

.patient-profile {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 5px;
    background-color: white;
    height: 250px;
    width: 30%;
    color: black;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10px;
    margin-right: 10px;
}

.ppic {
    margin-top: 5%;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.procs {
    margin-top: 15%;
    text-align: center;
}

.patient-info {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 5px;
    background-color: white;
    height: 250px;
    width: 70%;
    color: black;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.patient-info p {
    font-size: 60px;
}

.patient-info h3,
.procs h3 {
    color: #707070;
}

.patient-info h1 {
    font-weight: bolder;
}


/* CONTAINER OF UPCOMING APPOINTMENT */

.appointments {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.upcoming-app {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 5px;
    background-color: white;
    height: 365px;
    width: 100%;
    color: black;
}

.upcoming-app p {
    margin-left: 10px;
}



/* SEE MORE BUTTON */

.up-seebutton {
    border: solid 1px #69149b;
    border-radius: 10px;
    padding: 5px;
    background: #69149b;
    color: white;
    width: 100px;
    cursor: pointer;
    font-size: 15px;
}

.up-seebutton {
    margin-top: 10px;
    margin-left: 600px;
}


/* -------------------------------- Responsive ------------------------------*/


/* -----------MOBILE DEVICE---------*/

@media screen and (max-width: 480px) {
    .body_content img {
        height: auto;
        width: 70px;
        margin-left: 10px;
        margin-right: 20px;
        margin-top: 30px;
    }
    .contain1 p {
        color: #AE37FF;
        font-family: 'Poppins';
        font-size: 40px;
        margin-left: 10px;
        margin-top: -15px;
    }
    .contain2 {
        margin-left: 80px;
        margin-top: -10px;
        font-family: 'Poppins';
    }
    .lefthead-container {
        display: inline-block;
        border: 3px solid #8d1ecd;
        border-radius: 10px;
        background-color: #8d1ecd;
        height: auto;
        width: 60%;
        color: white;
        text-align: left;
    }
    .leftcon p {
        border-radius: 0.9em;
        margin-top: 0px;
        margin-left: 20px;
        padding-bottom: 0px;
        font-size: 13px;
        font-weight: bold;
    }
    .upcoming-app {
        border: 3px solid #8d1ecd;
        border-radius: 0.9em;
        background-color: white;
        height: 190px;
        width: 100%;
        color: black;
        text-align: left;
        margin-left: 0px;
    }
    .upcoming-app p {
        margin-left: 10px;
        margin-top: -20px;
    }
    .table-section {
        margin-left: -13px;
        padding: 10px;
        padding-bottom: 0px;
        margin-top: -20px;
    }
    th,
    td {
        padding: 8px;
        text-align: center;
        font-size: 10px;
    }
  
    .up-seebutton {
        border: solid 1px #69149b;
        border-radius: 10px;
        padding: 5px;
        background: #69149b;
        color: white;
        width: 100px;
        cursor: pointer;
        font-size: 10px;
        text-align: center;
    }
    .up-seebutton {
        margin-top: 5px;
        margin-left: 120px;
    }
}


/* -----------TABLET DEVICE---------*/


/*
@media screen and (max-width: 600px) {

.body_content img{
    height: auto;
    width: 130px;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 60px;
}
    
.contain1 p {
    color: #AE37FF;
    font-family: 'Poppins';
    font-size: 80px;
    margin-left: 10px;
    margin-top: -35px;
}

.contain2 { 
    margin-left: 100px;
    margin-top: -10px;
    font-family: 'Poppins';
}
    
    
.lefthead-container {
    display:inline-block;
    border: 3px solid #8d1ecd;
    border-radius: 10px;
    background-color: #8d1ecd;
    height: auto;
    width: 60%;
    color: white;
    text-align:left; 
    margin-top: -120px;
    margin-bottom: 20px;
}  

.leftcon p{
    border-radius: 0.9em;
    margin-top: 10px;
    margin-left: 20px; 
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}
    
    
.upcoming-app {
    border: 3px solid #8d1ecd;
    border-radius: 0.9em;
    background-color: white;
    height: 280px;
    width: 100%;
    color: black;
    text-align: left;
    margin-left:0px;
}  

.upcoming-app p{
    margin-left: 10px;
    margin-top: -10px;
}      
    

.table-section{
    margin-left: -10px;
    padding: 10px;
    padding-bottom: 0px;
    margin-top: 0px;
    
}

th,td{
    padding: 8px;
    text-align: center;
}


#border{
    border: transparent;
    border-radius: 0.9em;
    background-color: gainsboro;
    width: 98%;
    margin-left: 10px;
}


.up-seebutton{
    border: solid 1px #69149b;
    border-radius: 10px;
    padding: 5px;
    background: #69149b;
    color: white;
    width: 100px;
    cursor: pointer;
    font-size: 15px;
    

}

.up-seebutton{
    margin-top: 10px;
    margin-left: 200px;
}

}