* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* ---------------------end of sidebar menu--------------------- */

/* ---------------------View Patient List--------------------- */

.page-title h1 {
  padding-left: 5px;
  color: #8d1ecd;
  font-weight: bold;
  padding-right: 150px;
}

.main-cont {
  width: 83%;
  margin-left: 9%;
}

.pl-header {
  display: flex;

  
}

.subh {
  display: flex;
  justify-items: center;
  vertical-align: middle;
}

.addpatient-btn {
  padding-top: 8px;
}


.addpatient-btn div {
  border-color: #8d1ecd;
  background-color: #8d1ecd;
  border-radius: 5px;
  color: white;
  padding: 5px;
}

.addpatient-btn div a {
  text-decoration: none;
  color: white;
}


/* search bar */

.box-cont {
  margin-top: 60px;
  margin-right: 100px;
  padding-left: 20px;
  padding-right: 12px;
  width: 500px;
 
  height: 35px;

}





/*container for table*/


.dentist-content {
  margin-top: 2%;
  height: 500px;
  overflow: scroll;

  box-shadow: 15px 15px 30px 10px #c7c7ec;
  background-color: rgba(255, 255, 255, 0.539);


}

.table {
 
  text-align: center;
}


.table th {
  
    background-color: #ba68c8;
    color: #fafafa;
    font-family: 'Open Sans',Sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    position: sticky;
    top: 0;

   }


.table td {
  color: #000000;

}


.table td img {
  height: 60px;
  width: 60px;
}



 
 /*Edit Account form responsive */

@media screen and (max-width: 833px) {
  .input-field {
    width: 80%;
  }
  select {
    width: 90%;
  }
}

@media screen and (max-width: 520px) {
  .labels {
    width: 100%;
    text-align: left;
  }
  .rightTab {
    width: 80%;
    float: left;
  }
  .input-field {
    width: 100%;
  }
  select {
    width: 100%;
  }
}



