 /*Login Page */
 
 @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
 body {
     font-family: 'Poppins', sans-serif;
 }
 
 #bg {
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center;
 }
 
 #bg img {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     margin: auto;
     width: 100%;
     height: 100%;
 }
 
 ::selection {
     color: #fff;
     background: #6665ee;
 }
 
 .container .form {
     background: #fff;
     padding: 35px 35px;
     border-radius: 5px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     top: 60px;
 }
 
 form h2 {
     margin-bottom: 2%;
 }
 
 .col {
     margin-bottom: 1%;
 }
 
 .container .form form .button {
     background: #6665ee;
     color: #fff;
     font-size: 17px;
     font-weight: 500;
     transition: all 0.3s ease;
 }
 
 .container .form form .button:hover {
     background: #5757d1;
 }
 
 .container .row .alert {
     font-size: 14px;
 }