* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.body_content {
    padding-left: 16.5%;
}

.h1-title {
    padding-left: 1px;
}

#brand {
    background-color: rgb(166, 40, 166);
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 90px;
    margin: 0;
    padding: 0;
}


/*TEXT FORMAT*/

h1 {
    padding-left: 1em;
    padding-top: 0.5em;
}

#title {
    font-size: 23px;
}

p {
    font-size: 150px;
    padding-top: 0.01em;
}


/* MAIN CONTENT*/

.container {
    display: flex;
    margin: auto;
    padding-top: 1em;
    width: 90%;
    padding-left: 14%;
}

.space {
    width: 4px;
    height: auto;
    display: inline-block;
  }

h2{
    margin-top: 15px;
    margin-left: 300px;
}


.cont h2, transbtn{
    display: inline-grid;
}

/* Add Transaction Button */
.transbtn{
    border: solid 1px #69149b;
    border-radius: 10px;
    padding: 5px;
    background: #69149b;
    color: white;
    width: 150px;
    cursor: pointer;
    font-size: 15px;
    margin-left: 835px;

}

.tabPanel {
    display: none;
}

/*-----------------------------------------------------------------------------------------*/



.form {
    border-color: white;
    background-color: white;
    width: 60%;
    height: 70%;
    margin-top: 2%;
    margin-left: 25%;
    border-radius: 7px;
    border: 2px solid grey;
    background-color: #D3D3D3;
}


.form .id{
    font-size: 16px;
    margin-left: 20px;
}


.content {
    padding-top: 30px;
    padding-bottom: 10px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.content h2{
    margin-top: -30px;
    margin-left:510px;
    font-size: 20px;
}

.content h4{
    margin-top: 10px;
    margin-left: 500px;
    font-size: 25px;
}

.content .view-details {
    margin-left:-100px;
    margin-top:-40px;
    font-size: 20px;
    font-weight: bold;
}

.container span.details{
    padding-right: 10px;
}
.container .view-details  input{
    float: right;
}

.container {
    width: 50%;
    margin-left: 1px;
    margin-top: -50px;
}

.container1 {
    margin-top: -43px;
    margin-right: 10px;
    padding-right: 20px;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
}

.container1 span.details{
    padding-right: 10px;
}

.container1 input{
    float: right;
}


.container2{
    margin-top: -290px;
    margin-left: 535px;
    padding-bottom: 80px; 
}
.container2 input{
    margin-top: 6px;

}

.container2 h2{
    margin-bottom: 10px;
    margin-left: 45px;
}



.container3 {
    width: 100%;
    height: 10%;
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    margin-top: 18px;
    padding-top: 15px;
    padding-right: 80px;
    border-top: 2px solid grey;
}

.container3 span.details{
    padding-right: 10px;
}


.container3 input{
    float: right;
}



/*-------------------------------- Responsive for TABLET ------------------------------*/


@media screen and (max-width: 760px) {
    
    .form {
    width: 100%;
    height: 100%;
    display: fit-content;
}
    
    
    
.form .id{
    font-size: 16px;
    margin-left: -10px;
}


.content {
    display: fit-content;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
 
}

.content h2{
    display: fit-content;
    margin-top: -30px;
    margin-left:480px;
    font-size: 15px;
}

.content h4{
    margin-top: 10px;
    margin-left: 440px;
    font-size: 20px;
}

.content .view-details {
    display: fit-content;
    margin-left:-100px;
    margin-top:0px;
    font-size: 15px;
    font-weight: bold;
  
}

.container span.details{
    padding-right: 10px;
}
.container .view-details  input{
    float: right;
}
    

.container {
    width: fit-content;
    margin-left: 10px;
    margin-top: -50px;
}

.container1 {
    margin-top: -50px;
    margin-right: -13px;
    padding-right: 20px;
    text-align: right;
    font-size: 15px;
    font-weight: bold;
}

.container1 span.details{
    padding-right: 10px;
}

.container1 input{
    float: right;
}


.container2{
    margin-top: -220px;
    margin-left: 450px;
    padding-bottom: 70px; 
}
.container2 input{
    margin-top: 0px;

}

.container2 h2{
    margin-bottom: 4px;
    margin-left: 45px;
    font-size: 20px;
}



.container3 {
    width: 100%;
    padding-right: 60px;
   
}






    
    
}


