* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.body_content {
    padding-left: 10%;
}



.h1-title {
    padding-left: 1px;
}

.h2{

}

#brand {
    background-color: rgb(166, 40, 166);
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 90px;
    margin: 0;
    padding: 0;
}


/*-------------------------------------------------------------*/

/*TEXT FORMAT*/

h1,h2{
    padding-left: 0.3em;
}

#title{
    font-size: 23px;
}

p{

    font-size: 40px;
    padding-top: 0.01em;
}


/* MAIN CONTENT*/


.grid-container {
    display:grid; 
    margin: auto;
    padding-top: 0.3em;
    width: 30%;
    margin-left: 900px;
}

.grid-child {
    flex: 1;
    border: 3px solid #8d1ecd;
    background-color: white;
    height: 160px;
    color: black;
    text-align: center;
}  

.grid-child:first-child {
    margin-right: 21px;
    margin-bottom: 20px;
    border-radius: 0.9em;
    margin-top: -330px;
} 
.grid-child:last-child {
    margin-right: 21px;
    border-radius: 0.9em;
    margin-top: -150px;
} 


.flex-container {
    display:inline-flex; 
    margin: auto;
    padding-top: 1.3em;
    width: 100%;
    
}

.flex-total {
    border: 3px solid #8d1ecd;
    background-color: white;
    height: 280px;
    width: 40%;
    color: black;
    text-align: center;
    border-radius: 0.9em;
    margin-right: 30px;
}  


/* Create two equal columns that floats next to each other */
.column1, .column2 {
  float:left;
  width: 50%;
  padding: 10px;
  height: 280px;
  border: 3px solid #8d1ecd;
   
}

.column1{
   border-top-left-radius:0.9em; 
   border-bottom-left-radius:0.9em; 
   border-right-color: gray;
   text-align: center;
}


.column2{
    border-top-right-radius:0.9em; 
    border-bottom-right-radius:0.9em;  
    border-left-color: gray;
    text-align: center;
}


.column2 h2{
   font-size: 20px;
}

.column2 p{
    margin-top: 10px;
   font-size: 30px;
}


.row:after {
  content: "";
  display: inline-grid;
  clear: both;
  margin: 35px;  
}

/*--------------------   SEE MORE BUTTONS  --------------------*/

.up-seebutton, .tap-seebutton{
    border: solid 1px #69149b;
    border-radius: 10px;
    padding: 5px;
    background: #69149b;
    color: white;
    width: 100px;
    cursor: pointer;
    font-size: 15px;

}

.up-seebutton{
    margin-top: 90px;
    margin-left: 350px;
}


.tap-seebutton{
    margin-top:0px;
 margin-left: 180px; 
}





/*-----------------------   HEADING   ----------------------*/


.body_content h1{
    padding-top: 10px;
    margin-left: 40px;
}

.body_content img{
    height: auto;
    width: 130px;
    margin-left: 80px;
    margin-right: 10px;
    margin-top: 40px;
    
}

.contain  {   
    display: inline-block;
    grid-gap: 0px;
    width: 100%;
    margin-top: -20px;
    left: auto; 
}


.contain1 p {
    color: #AE37FF;
    font-family: 'Poppins';
    font-size: 70px;
    margin-left: 50px;
    margin-top: 10px;
}

.contain2 { 
    margin-left: 200px;
    font-family: 'Poppins';
}

.lefthead-container {
    display: inline-block;
    border: 3px solid #8d1ecd;
    border-radius: 10px;
    background-color: #8d1ecd;
    height: 200px;
    width: 500px;
    color: white;
    text-align:left;  
}  

.leftcon p{
    margin-top: 5px;
    border-radius: 0.9em;
    margin-left: 20px; 
}




/*-------------------------------- Responsive for TABLET ------------------------------*/


@media only screen and (max-width: 768px) and (min-width: 481px) (orientation: landscape)  {
    
  /*TEXT FORMAT*/

h1,h2{
    padding-left: 0.3em;
}

#title{
    font-size: 23px;
}

p{

    font-size: 20px;
    padding-top: 0.01em;
}


/* MAIN CONTENT*/


.grid-container {
    display:grid; 
    margin: auto;
    padding-top: 0.3em;
    width: 35%;
    margin-left: 380px;

}

.grid-child {
    flex: 1;
    border: 3px solid #8d1ecd;
    background-color: white;
    height: 80px;
    color: black;
    text-align: center;

}  

.grid-child:first-child {
    margin-right: 21px;
    margin-bottom: 10px;
    border-radius: 0.9em;
    margin-top: -170px;
} 
.grid-child:last-child {
    margin-right: 21px;
    border-radius: 0.9em;
    margin-top: -85px;
    
} 

#title{
    font-size: 13px;
}


.flex-container {
    display:inline-flex; 
    margin: auto;
    padding-top: 5px;
    width: 100%;
    
}

.flex-total {
    border: 3px solid #8d1ecd;
    background-color: white;
    height: 140px;
    width: 50%;
    color: black;
    text-align: center;
    border-radius: 0.9em;
    margin-right: 10px;
    margin-left: -50px;
}  


/* Create two equal columns that floats next to each other */
.column1, .column2 {
  float:left;
  width: 49%;
  padding: 10px;
  height: 140px;
  border: 3px solid #8d1ecd;
   font-size: 8px;
}

.column1{
   border-top-left-radius:0.9em; 
   border-bottom-left-radius:0.9em; 
   border-right-color: gray;
   text-align: center;
}


.column2{
    border-top-right-radius:0.9em; 
    border-bottom-right-radius:0.9em;  
    border-left-color: gray;
    text-align: center;
}


.column2 h2{
   font-size: 10px;

}

.column2 p{
   margin-top: 5px;
   font-size: 10px;
}


.row:after {
  content: "";
  display: inline-grid;
  clear: both;
  margin: 35px;  
}


/*-------------------------------------------------------------*/

/*--------------------   SEE MORE BUTTONS  --------------------*/

.up-seebutton, .tap-seebutton{
    border: solid 1px #69149b;
    border-radius: 10px;
    padding: 5px;
    background: #69149b;
    color: white;
    width: 60px;
    cursor: pointer;
    font-size: 8px;

}

.up-seebutton{
    margin-top: 30px;
    margin-left: 0px;
}


.tap-seebutton{
    margin-top: 10px;
    margin-left: 0px; 
}




.body_content img{
    height: auto;
    width: 100px;
    margin-left: -50px;
    margin-right: 10px;
    margin-top: 20px;
    
}

.contain  {   
    display: inline-block;
    grid-gap: 0px;
    width: 100%;
    margin-top: -20px;
    left: auto; 
}


.contain1 p {
    color: #AE37FF;
    font-family: 'Poppins';
    font-size: 50px;
    margin-left: -50px;
    margin-top: 10px;
}

.contain2 { 
    font-family: 'Poppins';
    margin-left:0px;
}
.contain2 p{ 
    font-size: 30px;
}

.lefthead-container {
    display: inline-block;
    border: 3px solid #8d1ecd;
    border-radius: 10px;
    background-color: #8d1ecd;
    height: 120px;
    width: 280px;
    color: white;
    text-align:left;  
}  

.leftcon p{
    border-radius: 0.9em;
    margin-top: 5px;
    margin-left: 20px; 
    font-size: 20px;
}
  
}










