* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.body_content {
    padding-left: 5.5%;
}

.h1-title {
    padding-left: 1px;
   
}


/*TEXT FORMAT*/

h1 {
    padding-left: 1em;
    padding-top: 0.5em;
    font-size: 30px;
}

#title {
    font-size: 23px;
}

p {
    font-size: 150px;
    padding-top: 0.01em;
}


/* MAIN CONTENT*/

.container {
    display: flex;
    margin: auto;
    padding-top: 1em;
    width: 90%;
    padding-left: 3%;
}

.space {
    width: 4px;
    height: auto;
    display: inline-block;
  }

h2{
    margin-top: 15px;
    margin-left: 300px;
}


.cont h2, transbtn{
    display: inline-grid;
}

/* Add Transaction Button */
.transbtn{
    border: solid 1px #69149b;
    border-radius: 10px;
    padding: 5px;
    background: #69149b;
    color: white;
    width: 150px;
    cursor: pointer;
    font-size: 10px;
    margin-left: 835px;

}



/*-----------------------   BAR CHART   ----------------------*/


.charts {
    display:flex;
    width: 100%;
    margin-top: 10px;
   
}

.chart {
    background: white;
    border: 4px solid #8d1ecd;
    border-radius: 10px;
    width: 50%; 
    margin-left: 450px;

}
/*--------------------------------------------------*/




.tabPanel {
    display: none;
}

nav ul li {
    line-height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

nav ul li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

nav ul li a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}

nav ul li.active a {
    color: rgb(244, 244, 244);
    background: rgb(107, 15, 193);
    border-left-color: rgb(255, 255, 255);
}

nav ul ul {
    position: static;
    display: none;
}

nav ul .sched-show.show {
    display: block;
}

nav ul .acct-show.show1 {
    display: block;
}

nav ul ul li {
    line-height: 42px;
    border-bottom: none;
}

nav ul ul li a {
    font-size: 17px;
    color: #e6e6e6;
    padding-left: 75px;
}

nav ul li.active ul li a {
    color: #e6e6e6;
    background: rgb(107, 15, 193);
    border-left-color: transparent;
}

nav ul ul li a:hover {
    color: rgb(177, 167, 221)!important;
    background: rgb(107, 15, 193)!important;
}

nav ul li a span {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform 0.4s;
}

nav ul li a span.rotate {
    transform: translateY(-50%) rotate(-180deg);
}

button{
background-color: white;
  border: blueviolet 2px solid;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
  border-radius: 0.5em;
  margin-left: 15px;
  
}

button:hover{
    background-color: rgb(107, 15, 193);
    cursor: pointer;
    color: white;
}




.table-section{
  padding: 0px;
    
}

th,td{
    padding: 20px;
    padding-left: 30px;

}


th{
 border-bottom: 4px solid #636363;
}

td{
    text-align: center;
}

#border{
    border: black 2px solid;

}


/*EDIT BUTTON */

.button1 {
    text-align: center;
    font-size: 30x;
    padding: 5px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    background: #5F46A6;
    border-radius: 10px;
    letter-spacing: 1 px;
}





/*-----------------------------------------------------------------------------------------*/

/*TRANSACTION FORM */


/* ADD BUTTON   */

.row1{
    
}
.add-btn {
    text-align: center;
    padding-left: 83%;
    padding-top: 23px;
}

.button {
    text-align: center;
    font-size: 1em;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    background: #5F46A6;
    border-radius: 50px;
    letter-spacing: 1 px;
}

/* BUTTON TRANSITION   */
.cont {
    display: flex;
}

.logout li {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 19px;
    padding-top: 18em;
}

.logout a {
    color: white;
    padding-left: 2em;
    text-decoration: none;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.wrapper {
    margin: 100px auto;
    padding: 20px;
    background: #e7e7e7;
    border-radius: 10px;
    width: 70%;
    height: 70%;
    position: relative;
    transition: all 5s ease-in-out;
    overflow:scroll;
}

.wrapper h2 {
    margin-left: 10px;
    margin-top: 0;
    color: #5F46A6;
}

.wrapper .close {
    position: absolute;
    top: 16px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #5F46A6;
}

.wrapper .close:hover {
    color: #4a5ac4;
}


.container1 {
    margin-left: -30px;
    margin-top: 1px;
}





/*FORM*/

form span.details {
    font-weight: 350;
    text-transform: uppercase;
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
    
}

form .input-box {
    display: inline-block;
    padding-left: 90px;
}
form .input-box input {
    height: 45px;
    width: 130%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    padding-left: 20px; 
}



form .input-box1 {
    display: inline-block;
    padding-left: 90px;
}

form .input-box1 input  {
    height: 45px;
    margin-left: 20px;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    padding-left: 20px; 
}

form .input-box1 span.details  {
    padding-left: 10px;
   
}



form .input-box2 {
    display: inline-block;
    padding-left: 90px;
}

form .input-box2 input {
    height: 45px;
    width: 132%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    padding-left: 20px; 
}

form .input-box3 {
    display: inline-block;
    padding-left: 90px;
}

form .input-box3 input {
    height: 45px;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    padding-left: 20px; 
}





input[type=text], select, textarea {
    width: 145%;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
    resize: vertical;
}


.container2 {
    width: 70%;
    height: 43%;
    margin-left: 100px;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.519);
    margin-top: 20px;
}

.container2 h2{
    font-size: 20px;
    padding-top: 30px;
    padding-left: 60px;
}

.container2 h3{
    font-size: 50px;
    padding-top: 20px;
    padding-left: 140px;
}



/* PLUS BUTTON FOR PRICE ROW 2 */

#plus-btn{
    margin: 10px;
}

#plus-btn{
    border: 2px solid grey;
    background-color: white;
    color: dimgray;
    font-size: 20px;
    padding-top: 0.1px;
    padding-bottom: 0.1px;
    padding-left: 5px;
    padding-right: 5px;
    float: right;
}

#plus-btn:hover{
    color: white;
    background-color:lightgreen;
}


/* PLUS BUTTON FOR PRICE ROW 3 */

#plus-btn1{
    margin: 10px;
}

#plus-btn1{
    border: 2px solid grey;
    background-color: white;
    color: dimgray;
    font-size: 20px;
    padding-top: 0.1px;
    padding-bottom: 0.1px;
    padding-left: 5px;
    padding-right: 5px;
    float: right;
}

#plus-btn1:hover{
    color: white;
    background-color:lightgreen;
}



/*BUTTON STYLE*/

#save-btn, #cancel-btn{
    margin: 10px;
}

#save-btn{
    border: 2px solid blueviolet;
    background-color: white;
    color: blueviolet ;
    border-radius: 1.0em;
    font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;
    float: right;
    margin-right: 100px;
    margin-top: 50px;
    cursor: pointer;
}

#cancel-btn{
    border: 2px solid blueviolet;
    background-color: white;
    color: blueviolet;
    border-radius: 1.0em;
    font-size: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    margin-left: 120px;
    margin-top: 50px;
    cursor: pointer;
}

#cancel-btn:hover{
    color: white;
    background-color:#8d1ecd;
}

#save-btn:hover{
    color: white;
    background-color:#8d1ecd;
}

/*-----------------------------------------------------------------------------------------*/








/*-----------------------------------------------------------------------------------------*/


/*EDIT FORM */


/* BUTTON TRANSITION   */
.cont {
    display: flex;
}

.logout li {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 19px;
    padding-top: 18em;
}

.logout a {
    color: white;
    padding-left: 2em;
    text-decoration: none;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.wrapper1 {
    margin: 50px auto;
    padding: 20px;
    background: #e7e7e7;
    border-radius: 10px;
    width: 45%;
    height: 88%;
    position:relative;
    transition: all 5s ease-in-out;
}

.wrapper1 h2 {
    margin-left: 10px;
    margin-top: 0;
    color: #5F46A6;
}

.wrapper1 .close {
    position: absolute;
    top: 16px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #5F46A6;
}

.wrapper1 .close:hover {
    color: #4a5ac4;
}

.wrapper1 .content {
 
    overflow: auto;
}


.containerr1 {
    margin-left: -30px;
    margin-top: 10px;
}





/*FORM*/

form span.details {
    font-weight: 350;
    text-transform: uppercase;
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    
}

form .input-box {
    display: inline-block;
    padding-left: 90px;
}
form .input-box input {
    height: 45px;
    width: 130%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    padding-left: 20px; 
}



form .input-box1 {
    display: inline-block;
    padding-left: 90px;
}

form .input-box1 input  {
    height: 45px;
    margin-left: 20px;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    padding-left: 20px; 
}

form .input-box1 span.details  {
    padding-left: 10px;
    margin-top: 10px;
   
}



form .input-box2 {
    display: inline-block;
    padding-left: 90px;
}

form .input-box2 input {
    height: 45px;
    width: 132%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    padding-left: 20px; 
}


form .input-box3 {
    display: inline-block;
    padding-left: 90px;
}

form .input-box3 input {
    height: 45px;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    padding-left: 20px; 
}


form .row4 .input-box1 span.details  {
    padding-left: 28px;
    margin-top: 10px;
   
}





input[type=text], select, textarea {
    width: 145%;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
    resize: vertical;
}


.container3 {
    width: 70%;
    height: 36%;
    margin-left: 100px;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.519);
    margin-top: 10px;
}

.container3 h2{
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}

.container3 h3{
    font-size: 50px;
    text-align: center;
    padding-bottom: 5px;
}


.container3  p{
    text-align: center;
    font-size: 25px;
  
}





/*BUTTON STYLE*/

#save-btn1{
}

#save-btn1{
    border: 2px solid blueviolet;
    background-color: white;
    color: blueviolet ;
    border-radius: 1.0em;
    font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 280px;
    margin-top: 5px;
    cursor: pointer;
}



#save-btn1:hover{
    color: white;
    background-color:#8d1ecd;
}




