* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: left;
  align-items: center;
}

/*RADIO BUTTON*/

label{
  border-style: solid;
  border-radius: 26px;
  font-size: 25px;
}

input[type="radio"]:checked + label {
  font-weight: bold;
  background-color: pink;
  border-radius: 26px;
  border-style: solid;
}

input[type="radio"]{
visibility:hidden;
}

label:hover{
  background-color:violet;
  font-size: 22px;
}

#datepicker{
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 35px;
}
